@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish&family=Nunito&display=swap');

body {
    font-family: 'Sigmar';
    background-color: #f8e7e2; 
}

h1 {
    font-size: 70px;
    color:#ff8585; 
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.864);
    font-weight: 400; 
}

h4 {
    font-size: 30px;
    color: #ff8585; 
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.864);
    
}

hr {
    color: black;
    border: 2px solid #ffbdbd; /* add a border to the horizontal rule */
    margin: 30px auto; /* add some margin to make the horizontal rule look more centered */
}

#start-button {
    width: 16%;
    height: 70px;
    border-radius: 30px; 
    margin: 30px auto; /* add some margin to the button */
    display: block;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.864);
    background-color: #ff8585; /* change the button color to a brighter shade of red */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
    font-family: 'Sigmar';
}

#start-button:hover {
    background-color: #f15b5b; 
}

p {
    color: black;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

#title-glass {
    display: flex;
    justify-content:center;
    align-items: center;
}

#title-glass > img {
    width: 75px;
    height: 100px;
    margin: 0 20px; /* added some margin to the glass images */
}

#instructions-container {
    background-image: url(./images/background-instructions.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: -50px;
}

#instructions-text {
    background-color: rgba(255, 255, 255, 0.85); 
    margin: 40px 100px;
    padding: 10px 20px;
  }

  #restart-button {
    width: 50%;
    height: 70px;
    border-radius: 30px; 
    margin: 30px auto; /* add some margin to the button */
    display: block;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.864);
    background-color: #ff8585; /* change the button color to a brighter shade of red */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
    font-family: 'Sigmar';
  }

  #restart-button:hover {
    background-color: #f15b5b;
}

#game-over-container {
    background-color: rgba(255, 255, 255, 0.85); 
    position: absolute;
    top: 70px;
    left: 150px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #game-over-screen {
    text-align: center;
  }
  